Source: kicad
Section: electronics
Priority: optional
Maintainer:  Georges Khaznadar <georgesk@debian.org>
Uploaders: Richard Antony Burton <richardaburton@gmail.com>,
 Daniel J. Priem <danielpriem@flexserv.de>
Build-Depends: debhelper (>= 9), quilt,
 cmake (>= 2.8.4), imagemagick,
 doxygen, libssl-dev, gettext, dblatex, source-highlight,
 po4a, asciidoc, libunicode-linebreak-perl, fonts-vlgothic,
 libx11-dev, libglu1-mesa-dev, libgl1-mesa-dev,
 mesa-common-dev, libwxgtk3.0-dev,
 libboost-dev, libboost-context-dev, libboost-date-time-dev,
 libboost-filesystem-dev, libboost-iostreams-dev,
 libboost-locale-dev, libboost-program-options-dev,
 libboost-regex-dev, libboost-system-dev, libboost-thread-dev,
Standards-Version: 3.9.6
Homepage: http://www.kicad-pcb.org

Package: kicad
Architecture: any
Depends: kicad-common (>= ${source:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Conflicts: kicad-common ( << 4.0)
Suggests: extra-xdg-menus,
	kicad-doc-en | kicad-doc-fr | kicad-doc-it | kicad-doc-ja | kicad-doc-nl | kicad-doc-pl
Description: Electronic schematic and PCB design software
 Kicad is a suite of programs for the creation of printed circuit boards.
 It includes a schematic editor, a PCB layout tool, support tools and a
 3D viewer to display a finished & fully populated PCB.
 .
 Kicad is made up of 4 main components:
 .
  * kicad - project manager
  * eeschema - schematic editor
  * pcbnew - PCB editor
  * gerbview - GERBER viewer
 .
 Libraries:
  * Both eeschema and pcbnew have library managers and editors for their
    components and footprints
  * You can easily create, edit, delete and exchange library items
  * Documentation files can be associated with components, footprints and key
    words, allowing a fast search by function
  * Very large libraries are available for schematic components and footprints
  * Most components have corresponding 3D models

Package: kicad-common
Architecture: all
Depends: ${misc:Depends}
Recommends: kicad
Replaces: kicad (<< 4.0+bzr6188-1)
Description: Common files used by kicad
 This package contains the component libraries and language files for Kicad.

Package: kicad-doc-en
Architecture: all
Depends: ${misc:Depends}
Description: Kicad help files (English)
 This package provides documentation for Kicad in English.

Package: kicad-doc-fr
Architecture: all
Depends: ${misc:Depends}
Description: Kicad help files (French)
 This package provides documentation for Kicad in French.

Package: kicad-doc-it
Architecture: all
Depends: ${misc:Depends}
Description: Kicad help files (Italian)
 This package provides documentation for Kicad in Italian.

Package: kicad-doc-ja
Architecture: all
Depends: ${misc:Depends}
Description: Kicad help files (Japanese)
 This package provides documentation for Kicad in Japanese.

Package: kicad-doc-nl
Architecture: all
Depends: ${misc:Depends}
Description: Kicad help files (Dutch)
 This package provides documentation for Kicad in Dutch.

Package: kicad-doc-pl
Architecture: all
Depends: ${misc:Depends}
Description: Kicad help files (Polish)
 This package provides documentation for Kicad in Polish.
