#!/usr/bin/make -f
# -*- makefile -*-
#export DH_VERBOSE=1

COMMONDIR = debian/kicad-common
PKGDIR    = debian/kicad
TMPPKGDIR = debian/tmp

%:
	+dh $@ --parallel

override_dh_clean:
	dh_clean
	find . -type d -name CMakeFiles | xargs rm -rf
	rm -rf build .downloads-by-cmake
	rm -f $(GENERATED)

override_dh_auto_configure:
	mkdir build
	mkdir build/kicad
	cd build/kicad && cmake -DKICAD_STABLE_VERSION=ON -DCMAKE_BUILD_TYPE=Release -DKICAD_SKIP_BOOST=ON -DCMAKE_INSTALL_PREFIX=/usr ../..
	mkdir build/i18n
	cd build/i18n && cmake -DCMAKE_INSTALL_PREFIX=/usr ../../kicad-i18n
	mkdir build/doc
	cd build/doc && cmake -DCMAKE_INSTALL_PREFIX=/usr ../../kicad-doc
	mkdir build/library
	cd build/library && cmake -DCMAKE_INSTALL_PREFIX=/usr ../../kicad-library

override_dh_auto_build-indep:
	$(MAKE) -C build/i18n
	$(MAKE) -C build/doc
	$(MAKE) -C build/library

override_dh_auto_test-indep:

override_dh_auto_install-indep:
	$(MAKE) -C build/i18n DESTDIR=../../$(TMPPKGDIR) install
	$(MAKE) -C build/doc DESTDIR=../../$(TMPPKGDIR) install
	$(MAKE) -C build/library DESTDIR=../../$(TMPPKGDIR) install

override_dh_compress:
	dh_compress --exclude=.pdf --exclude=.sh

override_dh_auto_build-arch:
	$(MAKE) -C build/kicad

override_dh_install-arch:
	$(MAKE) -C build/kicad DESTDIR=../../$(TMPPKGDIR) install
	convert bitmaps_png/icons/icon_kicad.xpm -resize 32x32 debian/tmp/icon_kicad.xpm
	dh_install

override_dh_install-indep:
	dh_install --exclude=CMake --exclude=.ps --exclude=.git

# Even though the build is out of source, these files are generated in-source anyway.
GENERATED = \
	common/fp_lib_table_keywords.cpp \
	common/gal/opengl/shader_src.h \
	common/netlist_keywords.cpp \
	common/page_layout/page_layout_reader_keywords.cpp \
	common/pcb_keywords.cpp \
	common/pcb_plot_params_keywords.cpp \
	eeschema/cmp_library_keywords.cpp \
	eeschema/cmp_library_lexer.h \
	eeschema/dialogs/dialog_bom_cfg_keywords.cpp \
	eeschema/dialogs/dialog_bom_cfg_lexer.h \
	eeschema/dialogs/dialog_bom_help_html.h \
	eeschema/template_fieldnames_keywords.cpp \
	eeschema/template_fieldnames_lexer.h \
	include/fp_lib_table_lexer.h \
	include/netlist_lexer.h \
	include/page_layout_reader_lexer.h \
	include/pcb_lexer.h \
	include/pcb_plot_params_lexer.h \
	pcb_calculator/pcb_calculator_datafile_keywords.cpp \
	pcb_calculator/pcb_calculator_datafile_lexer.h \
	pcbnew/dialogs/dialog_freeroute_exchange_help_html.h \
	pcbnew/specctra_keywords.cpp \
	pcbnew/specctra_lexer.h
